[Desktop Entry]
Type=Application
Version=1.0.0.0
Name=AMiner
Comment=
Path=.
Exec=./AMiner
Icon=applications-games-symbolic.svg
Terminal=false
Categories=Game;
MimeType=application/octet-stream;
